.Weather {
  padding: 30px;
  border: 0.2px solid black;
  border-radius: 40px;
  background-color: rgb(139, 148, 185);
}

.Weather .overview-location {
  margin-bottom: 20px;
}
.Weather .weather-temperature strong {
  color: black;
  font-size: 80px;
  line-height: 1;
  font-weight: 400;
}
.Weather .temperature-units {
  position: relative;
  font-size: 16px;
  top: -34px;
}

.Weather a {
  text-decoration: none;
}
.Weather .sources {
  font-size: 11px;
}
.Weather .active {
  color: black;
  cursor: default;
}
.Weather .active:hover {
  text-decoration: none;
  color: black;
}
.Weather .weather-forecast {
  margin-top: 20px;
  text-align: center;
}
.Weather .forecast-week-day {
  font-size: 16px;
}
.Weather .forescast-temperature {
  font-size: 13px;
}
.Weather .forecast-min-temp {
  opacity: 0.5;
}
.Weather .btn-primary,
.Weather .btn-primary:hover,
.Weather .btn-primary:active,
.Weather .btn-primary:visited {
  background-color: rgb(139, 148, 185) !important;
  border-color: black !important;
  color: black;
}
.Weather .text-forecast {
  text-decoration: underline;
  font-size: 16px;
  font-weight: bolder;
}
